services:
  # --- INFRAESTRUCTURA ---
  activemq:
    image: apache/activemq-classic:latest
    ports:
      - "8161:8161"
      - "61616:61616"
    networks:
      - search-net

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      # Mapeamos un archivo simple que apunta a "search-node"
      - ./nginx_local.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - search-node
    networks:
      - search-net

  # --- APLICACIÓN ---
  crawler:
    build: .
    command: com.microsoft2.bigdata.search.apps.CrawlerNode
    restart: on-failure 
    environment:
      - BROKER_URL=tcp://activemq:61616
      - BOOK_START=1000
      - BOOK_END=2000
    volumes:
      - datalake_shared:/app/data
    networks:
      - search-net

  indexer:
    build: .
    command: com.microsoft2.bigdata.search.apps.IndexerNode
    restart: on-failure
    environment:
      - BROKER_URL=tcp://activemq:61616
    volumes:
      - datalake_shared:/app/data
    depends_on:
      - activemq
    networks:
      - search-net

  search-node:
    build: .
    command: com.microsoft2.bigdata.search.apps.SearchNode
    environment:
      - PORT=8080
      # Al NO poner CLUSTER_MEMBERS, tu código usará Multicast (perfecto para 1 PC)
    networks:
      - search-net

networks:
  search-net:
    driver: bridge

volumes:
  datalake_shared: